@page "{code}"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Kurs.Pages.PublicFoldersModel
<title>Authorize</title>
<h5>Enter your Email</h5>
<form method="post">
    <input asp-for="Email" />
    <input type="submit" />
</form>

